################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrainingReactjs/.vs/TrainingReactjs/v16
